# unity cache files.
Library/
Logs/
Packages/packages-lock.json
Temp/

# visual studio cache files.
.vs/
obj/
.vsconfig
*.csproj
*.sln

# third dependences.
Assets/FairyGUI/
Assets/FairyGUI.meta

Assets/Puerts/
Assets/Puerts.meta

# u3dmobile temporary files.
DEPENDENCE/
